<div class="container ">
	<div class="card mt-5">
		<div class="card-body">
		<h4 class="card-title">Asignar alumno a grupo</h4>
      		<form action="api/groups/assignStudent" method="POST">
			<div class="form-group">
				
				<label for="exampleFormControlSelect1">Grupo</label>

            			<div class="input-group mb-3">
					<select class="form-select " id="groupSelector" onclick="update_list()" name="group">	
						<% for(var i=0; i< groups.length; i++){ %>		
							<option value="<%= groups[i].group%>" > <%= groups[i].group%></option>
						<% } %>
					</select>
				</div>
            			
				<label for="exampleFormControlSelect1"> Alumnos de nuevo ingreso</label>

				<div class="input-group mb-3">
					<select class="form-select" id="registerNumber" name="registerNumber">
						<% for(var i=0; i< students.length; i++){ %>		
							<%if(students[i].group=="1"){%>
								<option value="<%= students[i].registerNumber%>" > <%= students[i].registerNumber%></option>
							<%}%>
						<% } %>
					</select>
				</div>
				

				<label for="exampleFormControlSelect1">Almunos actualmente en el grupo:</label>
				<div class="input-group mb-3">
					<ul class="list-group" id="list-students">
						
						<% for(var i=0; i< students.length; i++){ %>		

							<%if(students[i].group!="1"){%>
								<li class="list-group-item" data-value="<%= students[i].group%>" id="selector<%-i%>" hidden><%= students[i].registerNumber%></li>
							<%}%>
						<% } %>
	
					</ul>
				</div>

				<div class="col-12">
					<button type="submit" class="btn btn-primary">Agregar a grupo</button>
				</div>
			</div>
		</form>
  		</div>
	</div>
</div>


<script>
	let groupSelector = document.getElementById("groupSelector");
	let studentList = document.getElementById("list-students");

	function update_list(){

		let group = groupSelector.options[groupSelector.selectedIndex].value;
		
		for(let i=0;i<studentList.children.length;i++){
			console.log(document.getElementById('selector'+i).getAttribute("data-value"))
			if(document.getElementById('selector'+i).getAttribute("data-value")==group){
				document.getElementById('selector'+i).hidden = false	
			}else{
				document.getElementById('selector'+i).hidden = true	
			}
		}
	}
</script>
